#popup.popup(aria-hidden='true')
  .popup__wrapper
    .popup__content
      button.popup__close(data-close='' type='button')
      .popup__icon
      .popup__title Благодарим за обращение! 
      .popup__text Консультант свяжется с вами в течение суток
      button(type="button" data-close='').button.popup__button Буду ждать

