.edge {
    display: flex;

    .edge__icon {
        flex: 0 0 rem(40);
        width: rem(24);
        height: rem(40);
        background-image: url('@img/subtract.svg');
        background-position: left;
        background-repeat: no-repeat;
        @include adaptiveValue("margin-right", 29, 14);
        margin-right: rem(14);
        @include adaptiveValue("width", 40, 10);
        @include adaptiveValue("height", 50, 32);

        @media (max-width: em(830)) {
            background-size: contain;
            background-position: right;
        }
    }

    .edge__text {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: rem(-2);
        @include adaptiveValue("font-size", 18, 16);
        font-size: rem(16);

        @media (max-width: em(830)) {
            line-height: 1.45;
        }
    }
}