.section-title {
    font-size: rem(32);
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 50, 32);
}

.section-title_large {
    font-size: rem(54);
    white-space: nowrap;
    @include adaptiveValue("font-size", 81.2, 57);

    @media (max-width: em(1270)) {
        white-space: normal;

        br {
            display: none;
        }
    }

    @media (max-width: em(830)) {
        text-align: center;
    }
}