.section-title {
    font-size: rem(32);
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 50, 32);
}

.section-title_large {
    font-size: rem(54);
    @include adaptiveValue("font-size", 81, 54);

    @media (max-width: em(830)) {
        text-align: center;
    }
}