.social {
  display: flex;
  flex-direction: row;
  gap: rem(12);

  .social__item {
    display: flex;
  }

  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      stroke: $extraColor;
    }
  }
}

.social_header {
  .social__link {
    svg path {
      stroke: $mainColor;
    }

    @media (max-width: $mobileSmall) {
      padding: rem(17);
      border-radius: 50%;
      background-color: $extraColor;
    }
  }
}

.social_feedback {
  gap: rem(5);
  @include adaptiveValue("gap", 12, 5);

  .social__link {
    width: 58px;
    height: 58px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}