.digest {
  padding: rem(60) 0;

  @media (max-width: em(830)) {
    padding: rem(25) 0;
  }

  .digest__info {
    display: grid;
    grid-template-areas:
      'edge title'
      'edge text'
    ;
    gap: rem(32);
    grid-template-columns: minmax(200px, 383px) 1fr;

    @media (max-width: em(1246)) {
      grid-template-areas:
        '. title .'
        '. edge .'
        '. text . '
      ;
      grid-template-columns: 1fr minmax(500px, 800px) 1fr;
      justify-content: center;
      gap: rem(28);
    }

    @media (max-width: em(830)) {
      grid-template-areas:
        'title'
        'edge'
        'text'
      ;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: rem(27);
    }

  }

  .digest__edge {
    grid-area: edge;
    padding-right: rem(40);
    padding-top: rem(10);

    @media (max-width: em(830)) {
      padding-top: rem(0);
    }

  }

  .digest__title {
    grid-area: title;

    @media (max-width: em(830)) {

      margin-bottom: rem(0);
    }

  }

  .digest__text {
    grid-area: text;
    padding-top: rem(50);
    padding-bottom: rem(40);
    position: relative;

    p {
      margin-bottom: rem(15);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (max-width: em(830)) {
      padding-top: rem(32);
      padding-bottom: rem(60);
    }
  }

  .digest__services {
    display: grid;
    grid-template-areas:
      'spring list'
      'spring footer'
    ;
    column-gap: rem(32);
    grid-template-columns: minmax(200px, 383px) 1fr;

    @media (max-width: em(1246)) {
      grid-template-areas:
        '. spring .'
        '. list .'
        '. footer .'
      ;
      grid-template-columns: 1fr minmax(500px, 800px) 1fr;
      gap: rem(28);
    }

    @media (max-width: em(830)) {
      grid-template-areas:
        'spring'
        'list'
        'footer'
      ;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 0;

    }
  }

  .digest__spring {
    grid-area: spring;
    margin-top: -55px;

    @media (max-width: em(1246)) {
      margin-top: 0;
    }



    .spring__content {
      @media (max-width: em(830)) {
        padding-bottom: 0;
      }
    }
  }

  .digest__analysis {
    grid-area: list;

    @media (max-width: em(830)) {
      margin-top: 60px;
    }
  }

  .digest__footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: rem(45);
    position: relative;
    padding-top: 45px;

    @media (max-width: em(830)) {
      flex-direction: column;

      gap: rem(37);
    }
  }

  .digest__button {
    flex-shrink: 0;

    @media (max-width:$mobileSmall) {
      width: 100%;
      text-align: center;
      display: block;
    }
  }

  .analysis-digest {
    border-top: 1px solid $mainColor;
  }

  .analysis-digest__title {
    font-weight: 700;
    text-transform: uppercase;
    color: $extraColor;
    padding: rem(1) rem(16);
    background-color: $mainColor;
    display: inline-block;
    @include adaptiveValue("font-size", 18, 16);
  }

  .analysis-digest__list {
    padding: rem(50) 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: rem(10);
    column-gap: rem(10);
    @include adaptiveValue("column-gap", 170, 10);
    position: relative;

    @media (max-width: em(830)) {
      padding: rem(24) 0;
      gap: rem(12);
    }

    @media (max-width:$mobileSmall) {
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-auto-flow: row;
    }
  }

  .analysis-digest__item {
    display: flex;
    gap: rem(16);
  }

  .analysis-digest__icon {
    background-image: url('@img/check.svg');
    background-repeat: no-repeat;

    flex: 0 0 rem(24);
  }
}