.geography {
  padding: rem(60) 0;

  .geography__container {
    display: grid;
    grid-template-areas:
      'edge title'
      'edge map'
    ;
    row-gap: rem(40);
    column-gap: rem(20);
    grid-template-columns: 1fr 800px;

    @media (max-width: em(1246)) {
      grid-template-areas:
        '. title .'
        '. edge .'
        '. map . '
      ;
      grid-template-columns: 1fr minmax(500px, 800px) 1fr;


      row-gap: rem(28);
      column-gap: rem(0);
    }

    @media (max-width: em(830)) {
      grid-template-areas:
        ' title '
        ' edge '
        ' map '
      ;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: rem(30) rem(15);
    }
  }

  .geography__edge {
    grid-area: edge;
  }

  .geography__title {
    grid-area: title;
    padding-bottom: rem(30);
    border-bottom: 1px solid $mainColor;
  }

  .geography__map-ibg {
    @media (max-width: em(870)) {
      padding: 49.1% 0 0;
    }
  }

  .geography__map_contain {
    position: relative;

    @media (max-width: em(870)) {
      position: absolute;
    }

  }

  .geography__map {
    grid-area: map;
    position: relative;

    .point_one {
      .point__text {
        visibility: visible;
        opacity: 1;
      }
    }

    &:hover {
      .point_one {
        .point__text {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

.point {
  position: absolute;
  left: 23.5%;
  top: 44%;

  @media (max-width: em(870)) {
    display: none;
  }

  .point__dot {
    position: absolute;
    width: rem(30);
    height: rem(30);
    left: 52px;
    top: 48px;
    cursor: pointer;
    z-index: 1;

    &:hover {
      &+.point__text {
        visibility: visible !important;
        opacity: 1 !important;

      }
    }
  }

  .point__text {
    visibility: hidden;
    opacity: 0;
    font-weight: 700;
    color: $extraColor;
    text-transform: uppercase;
    padding: rem(10) rem(20);
    background-color: $mainColor;
    display: inline-block;
    position: relative;
    transition: all 0.3s;

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-19);
      left: 50%;
      transform: translateX(-50%);
      width: rem(50);
      height: rem(20);
      background-image: url('@img/eyelet.svg');
      background-repeat: no-repeat;
    }
  }
}

.point_one {
  left: 23.2%;
  top: 44%;
}

.point_two {
  left: -5.3%;
  top: 40.5%;

  .point__dot {
    left: 84px
  }
}

.point_three {
  left: 6.1%;
  top: 52.4%;

  .point__dot {
    left: 44px;
  }
}