.offer {
    .offer__container {
        display: grid;
        grid-template-areas:
            'tip title'
            'tip list'
        ;
        padding: rem(45) rem(15);
        gap: 32px;
        grid-template-columns: minmax(338px, 383px) 1fr;
        //   grid-template-columns: 1fr;

        @media (max-width: em(1270)) {
            grid-template-areas:
                '. tip .'
                '. title .'
                '. list . '
            ;
            grid-template-columns: 1fr minmax(500px, 800px) 1fr;
            justify-content: center;
            gap: 28px;
        }

        @media (max-width: em(830)) {
            grid-template-areas:
                'tip'
                'title'
                'list'
            ;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            padding: rem(25) rem(15);
            gap: 18px;
        }
    }

    .offer__tip {
        grid-area: tip;
    }

    .offer__title {
        grid-area: title;
        padding-top: rem(45);
        @media (max-width: em(830)) {
            padding-top: rem(20); 
        }
    }

    .offer__list {
        grid-area: list;
    }

    .offer__item {
        padding: rem(34) rem(70) rem(34) 0;
        // border-top: 1px solid $mainColor;
        display: flex;
        gap: 16px;
        position: relative;

        // &:last-child {
        //     border-bottom: 1px solid $mainColor;
        // }

        @media (max-width: em(830)) {
            padding: rem(34) 0 rem(34) 0;
            
        }

        .offer__icon {
            background-image: url('@img/check.svg');
            background-repeat: no-repeat;

            flex: 0 0 24px;
        }
    }

}