.portfolio {
  padding: rem(80) 0;

  .portfolio__item {
    padding: rem(30) 0;
  }

  .portfolio__header {
    margin-bottom: rem(30);

    @media (max-width: em(1246)) {
      width: rem(800);
      margin: 0 auto rem(30);
    }

    @media (max-width: em(830)) {
      width: 100%;
      margin-bottom: rem(0);
    }
  }

  .portfolio__body {
    display: grid;

    grid-template-areas:
      'title slider'
      'btn slider'
    ;
    grid-template-columns: rem(383) 1fr;
    grid-template-rows: 1fr auto;
    justify-items: start;
    gap: rem(25);

    @media (max-width: em(1246)) {

      grid-template-areas:
        '. title .'
        '. slider. '
        '. btn. '
      ;
      grid-template-columns: 1fr minmax(rem(300), rem(800)) 1fr;
      align-items: center;
    }

    @media (max-width: em(830)) {

      grid-template-areas:
        ' title '
        ' slider '
        ' btn '
      ;
      grid-template-columns: minmax(rem(300), rem(800));
    }
  }

  .portfolio__title {
    grid-area: title;
    z-index: 10;
    background-color: $extraColor;

    @media (max-width: em(830)) {
      max-width: rem(200);
    }
  }

  .portfolio__button {
    grid-area: btn;
    z-index: 10;


    @media (max-width:$mobileSmall) {
      width: 100%;
      text-align: center;
      display: block;
    }
  }

  .portfolio__content {
    min-width: 0;
    width: 100%;
    position: relative;

    &:before {
      content: '';
      height: 100%;
      width: 100vw;
      background-color: $extraColor;
      position: absolute;
      top: 0;
      left: -100vw;
      z-index: 1;

    }

    @media (max-width: em(830)) {
      width: 91%;
    }
  }

  .portfolio__content {
    grid-area: slider;
  }

  .portfolio__slider {
    color: $extraColor;
    overflow: inherit;
  }

  .portfolio__slide {
    padding: rem(15);
    @include adaptiveValue("padding", 50, 15);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
  }

  .portfolio__slide {
    height: rem(190);
    min-height: rem(190);
    @include adaptiveValue("height", 509, 190, 900, 360, 2);
  }

  .portfolio__title-text {
    font-weight: 700;
    text-transform: uppercase;
  }

  .portfolio__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .portfolio__text {
    max-width: rem(340);
    font-size: rem(14);
    @include adaptiveValue("font-size", 18, 14);
  }

  .portfolio__link {
    padding-right: rem(50);
    background-image: url('@img/arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;


    @media (max-width: em(830)) {
      width: rem(40);
      height: rem(10);

      span {
        display: none;
      }
    }
  }

  .portfolio__link {}
}