.promo {
  .promo__container {
    display: grid;
    grid-template-areas:
      'pic tip'
      'pic title'
      'pic circles'
      'pic enumeration'
    ;
    padding: rem(62) rem(15);
    gap: 32px;
    row-gap: 0;
    grid-template-columns: minmax(383px, 1fr) 1fr;

    @media (max-width: em(1270)) {
      grid-template-areas:
        'pic tip'
        'pic title'
        'circles circles'
        'enumeration enumeration'
      ;
      grid-template-columns: minmax(383px, 1fr) 1fr;
      grid-template-rows: auto 1fr auto auto;
      // gap: 28px;
    }

    @media (max-width: em(830)) {
      grid-template-areas:
        'tip'
        'title'
        'pic'
        'circles'
        'enumeration'
      ;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      align-items: center;
      justify-items: center;
      padding: rem(30) rem(15);
    }
  }

  .promo__tip {
    display: flex;
    padding-top: 56px;
    grid-area: pic;
    justify-self: self-end;

    transform: translateX(-60px);

    @media (max-width: em(1330)) {
      transform: translateX(0);
    }

    @media (max-width: em(830)) {
      justify-self: center;

    }

    @media (max-width:$mobileSmall) {
      width: 89%;
    }
  }

  .promo__img {
    position: relative;
    display: flex;

    picture {
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: -56px;
      left: 50%;
      margin-left: -91.5px;
      width: rem(183);
      height: rem(183);
      background: url('@img/promo/perfect.svg') 0 0 no-repeat;
      animation: rotating 35s linear infinite;

      @media (max-width: em(830)) {
        width: rem(142);
        height: rem(142);
        background-size: cover;
        top: rem(-47);
        transform: translateX(-50%);
        margin-left: rem(-71);
      }
    }

    img {
      z-index: 1;

      @media (max-width:$mobileSmall) {
        width: 100%;
        height: 100%;
      }

    }
  }

  .promo__thought {
    grid-area: tip;
    margin-bottom: rem(54);

    @media (max-width: em(1270)) {
      margin-bottom: rem(30);
      @include adaptiveValue("margin-bottom", 54, 38);
    }
  }

  .promo__section-title {
    grid-area: title;
    margin-bottom: rem(39);

    @media (max-width: em(830)) {
      margin-bottom: rem(40);
      @include adaptiveValue("margin-bottom", 54, 24);
    }
  }

  .promo__circle-point {
    grid-area: circles;
    margin-bottom: rem(61);

    @media (max-width: em(1270)) {
      justify-self: center;
      margin-top: rem(60);
      margin-bottom: rem(70);
      @include adaptiveValue("margin-bottom", 80, 72);
    }

    @media (max-width: em(830)) {
      margin-top: rem(7);
    }
  }

  .promo__enumeration {
    grid-area: enumeration;
    justify-self: center;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}