.services {
  padding: rem(150) 0;
}

// .services__container {
//   position: relative;
// }

.services__list {
  display: grid;
  grid-template-areas:
    '. one one two two .'
    'three three four four five five'
    '. six six seven seven .'
  ;
  align-items: center;
  justify-content: center;
  padding: rem(60) 0 rem(100);
  position: relative;
  margin-bottom: rem(60);

  &:after {
    content: '';
    width: 100%;
    height: rem(70);
    background-image: url('@img/total.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: rem(-10);
  }

  @media (max-width: em(1246)) {
    position: relative;

    grid-template-areas:
      'one one two two'
      'three three four four'
      'five five six six'
      '. seven seven .'
    ;

    &:after {
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      width: rem(736);
    }
  }

  @media (max-width: em(830)) {
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      'seven'
    ;

    &:after {
      width: rem(400);

    }
  }

  @media (max-width:$mobileSmall) {
    &:after {
      height: rem(20);
      bottom: 0;
      width: rem(300);
      background-image: url('@img/total-b.svg');
    }
  }

}

$nums: one,
  two,
  three,
  four,
  five,
  six,
  seven;

.services__item {
  width: rem(385);
  height: rem(333);
  padding: rem(59) 0 0 rem(95);
  display: flex;
  flex-direction: column;
  position: relative;
  color: $mainColor;
  transform: scale(0.9);
  @media (max-width: em(1246)) {
    width: rem(340);
    height: rem(333);
    padding: rem(59) 0 0 rem(67);
  }

  @media (max-width:$mobileSmall) {
    width: rem(338);
    height: rem(266);
    padding: rem(50) 0 0 rem(81);
  }

  &::after {
    content: '';
    width: rem(446);
    height: rem(446);

    @media (max-width: em(1246)) {
      width: rem(400);
      height: rem(400);
      margin-left: rem(-200);
      margin-top: rem(-200);
    }

    @media (max-width:$mobileSmall) {
      width: rem(300);
      height: rem(300);
      margin-left: rem(-150);
      margin-top: rem(-150);
    }

    border: 1px solid $mainColor;
    position: absolute;
    border-radius: 50%;
    margin-left: rem(-223);
    margin-top: rem(-223);
    // transform: translate(-50%, -50%);
    transition: all 0.5s;
    animation: size-circle 2s;
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  &:hover {
    &::after {
      background-color: $mainColor;
      transition: all 0.6s ease-out;
    }

    .services__title,
    .service {
      color: $extraColor;
      z-index: 1;
    }
  }

  @each $num in $nums {
    $i: index($nums, $num);

    &:nth-child(#{$i}) {
      grid-area: $num;
    }
  }
  &._watcher-view {  animation: size-circle 1s both;}
}

.service__item {
  @media (max-width:$mobileSmall) {
    display: inline-flex;
    margin-right: rem(10);
  }
}

.services__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(25);
  line-height: 125%;
  margin-bottom: rem(14);
  padding-right: rem(75);
  letter-spacing: rem(1);
  transition: all 0.6s;

  @media (max-width:$mobileSmall) {
    font-size: rem(18);
  }
}

.service {
  display: flex;
  flex-direction: column;
  gap: rem(6);
  padding-right: rem(60);

  @media (max-width:$mobileSmall) {
    font-size: rem(16);
    display: block;
  }

  .service__text {
    text-decoration: underline;
    transition: all 0.6s;

    &:hover {
      text-decoration: none;
    }
  }
}

.services__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.services__tagline {
  font-size: rem(26);
  line-height: 115%;
  font-weight: 700;
  text-transform: uppercase;
  @include adaptiveValue("font-size", 50, 26);
  @include adaptiveValue("width", 600, 290, 1216, 320);
  width: 290px;
  p {
    opacity: 0;
  }
  &._watcher-view {
    p {

      animation-fill-mode: both;

      &:nth-child(1) {
        animation: line_one 2s both;

      }

      &:nth-child(2) {
        animation: line_two 2s both;
        animation-delay: 0.2s;
        margin-left: 38%;
        // transform: translateX(-100px);

      }

      &:nth-child(3) {
        margin-left: 20%;
        // transform: translateX(100px);
        animation: line_three 2s both;
        animation-delay: 0.4s;

      }

      &:nth-child(4) {
        margin-left: 30%;
        // transform: translateX(-70px);
        animation: line_fore 2s both;
        animation-delay: 0.6s;
 
      }
    }
  }
}

@keyframes line_one {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes line_two {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes line_three {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes line_fore {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.services__presentation {
  line-height: 140%;
  color: $extraColor;
  width: rem(208);
  height: rem(208);
  border-radius: 50%;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  animation: pulse 3s infinite;

  &:hover {
    animation: none;
  }

  span {
    padding: 0 0 30px;
    position: relative;

    &::before {
      content: '';
      width: 35px;
      height: 7px;
      position: absolute;
      background-image: url('@img/arrow.svg');
      background-repeat: no-repeat;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($mainColor, 0.4);
  }

  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 30px rgba($mainColor, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($mainColor, 0);
  }
}


@keyframes size-circle {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}