.test
    .carousel-title
        .carousel-title__top
            ul.carousel-title__list
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
            ul.carousel-title__list
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
                li.carousel-title__item Портфолио
        .carousel-title__bottom.carousel-title__bottom_pause
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание контента
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка дизайна
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка и продвижение сайтов
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание мерча
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание эксклюзива
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание контента
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка дизайна
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка и продвижение сайтов
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание мерча
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание контента
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка дизайна
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка и продвижение сайтов
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание мерча
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание эксклюзива
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание контента
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка дизайна
                li.carousel-title__item
                    a(href="#").carousel-title__link Разработка и продвижение сайтов
                li.carousel-title__item
                    a(href="#").carousel-title__link Создание мерча

    .carousel-title
        .carousel-title__top
            ul.carousel-title__list
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
            ul.carousel-title__list
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
                li.carousel-title__item Наши услуги
        .carousel-title__bottom.carousel-title__bottom_pause
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч
                li.carousel-title__item
                    a(href="#").carousel-title__link Дизайн
                li.carousel-title__item
                    a(href="#").carousel-title__link Полиграфия
                li.carousel-title__item
                    a(href="#").carousel-title__link Сайты
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч
                li.carousel-title__item
                    a(href="#").carousel-title__link Дизайн
                li.carousel-title__item
                    a(href="#").carousel-title__link Полиграфия
                li.carousel-title__item
                    a(href="#").carousel-title__link Сайты
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч
                li.carousel-title__item
                    a(href="#").carousel-title__link Дизайн
                li.carousel-title__item
                    a(href="#").carousel-title__link Полиграфия
                li.carousel-title__item
                    a(href="#").carousel-title__link Сайты
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч
                li.carousel-title__item
                    a(href="#").carousel-title__link Дизайн
                li.carousel-title__item
                    a(href="#").carousel-title__link Полиграфия
                li.carousel-title__item
                    a(href="#").carousel-title__link Сайты
                li.carousel-title__item
                    a(href="#").carousel-title__link Продвижение
                li.carousel-title__item
                    a(href="#").carousel-title__link Тексы
                li.carousel-title__item
                    a(href="#").carousel-title__link Фото
                li.carousel-title__item
                    a(href="#").carousel-title__link Контент
                li.carousel-title__item
                    a(href="#").carousel-title__link Мерч

    .carousel-title
        .carousel-title__top.carousel-title__top_large
            ul.carousel-title__list
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
            ul.carousel-title__list
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
                li.carousel-title__item Наши преимущества
        .carousel-title__bottom.carousel-title__bottom_pause
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
            ul.carousel-title__list
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват
                li.carousel-title__item
                    a(href="#").carousel-title__link Подход
                li.carousel-title__item
                    a(href="#").carousel-title__link Надежность
                li.carousel-title__item
                    a(href="#").carousel-title__link Практика
                li.carousel-title__item
                    a(href="#").carousel-title__link Ответственность
                li.carousel-title__item
                    a(href="#").carousel-title__link Опыт
                li.carousel-title__item
                    a(href="#").carousel-title__link Охват