.enumeration.enumeration_client
    ul.enumeration__list 
        li.enumeration__item 
            p.enumeration__title Новые клиенты
            .enumeration__text
                p Приходят и совершают покупки без настойчивых призывов с вашей стороны, а по собственному желанию — они доверяют вашей компании
        li.enumeration__item 
            p.enumeration__title Старые клиенты
            .enumeration__text
                p Чувствуют связь #[br]с брендом и заботу о них
.enumeration
    ul.enumeration__list 
        li.enumeration__item 
            p.enumeration__title 
            .enumeration__text
                p На его основе разрабатывать уникальный дизайн всех маркетинговых материалов
        li.enumeration__item 
            p.enumeration__title 
            .enumeration__text 
                p Разработать #[br]сайт и продумать его будущее продвижение
        li.enumeration__item 
            p.enumeration__title 
            .enumeration__text
                p Внедрить#[br] мерч в бизнес-процессы