- var type = 'spring';
.test
  .spring 
    .spring__body
      .spring__content
        p.spring__text Достичь #[br] высоких результатов #[br] возможно только #[br] при работе с вами #[br] в полном #[br] контакте

  .spring 
    .spring__body
      .spring__content
        p.spring__text Эмоциональные #[br] отзывы наших #[br] клиентов
        a(href="#").spring__link

  .spring 
    .spring__body
      .spring__content
        p.spring__text Мы #[br] в социальных #[br] сетях
        include social.pug

  .circle-point
    ul.circle-point__list 
      li.circle-point__item.spring.spring_point
        .spring__body
          .spring__content
            p.spring__text Понимают #[br] и принимают #[br] его ценности
      li.circle-point__item.spring.spring_point
        .spring__body
          .spring__content
            p.spring__text Не забывают #[br]о нём 
      li.circle-point__item.spring.spring_point 
        .spring__body
          .spring__content
            p.spring__text Рассказывают #[br] о ваших продуктах #[br]знакомым



