.test
  .thought.thought_small.thought_center
    .thought__icon ?
    p.thought__text Вы хотите #[br] так...
  .thought.thought_small
    .thought__icon ?
    p.thought__text Это #[br] возможно?
  .thought.thought_normal 
    .thought__icon ?
    p.thought__text Для начала #[br] вам нелбходимо честно ответить #[br] себе на вопросы, которые мы подготовили
  .thought 
    .thought__icon !
    p.thought__text Мы проведём аудит, составим план комплексного продвижения с учётом ваших задач и бюджеиа, или представим #[br] единичные услуги, необходимые вашему бизнесу