.test 
  .tip
    .tip__icon !
    p.tip__text Стоит ответственно относиться к каждому элементу образа бренда, осознавая, что они требуют постоянной доработки и актуализации, так как технологии и конкуренты не стоят на месте
