.test 
    //- h2.section-title.section-title_large Клиенты лояльны к вашему бренду
    //- h2.section-title ДА, если создать фирменный стиль
    //- h2.section-title Что мы предлагаем?
    //- h2.section-title Ваш контент качественный? 


    //- h3.sub-title Создание контента
    //- h3.sub-title Разработка дизайна
    //- h3.sub-title Разработка и продвижение сайта
    //- h3.sub-title Создание мерча
    //- h3.sub-title Изготовление эксклюзива


    //- h2.section-title География заказов
    //- h2.section-title Дайджест

    .edge
        .edge__icon 
        p.edge__text Мы работаем по всей территории россии и обеспечиваем быструю доставку в регионы
    //- .edge
    //-     .edge__icon 
    //-     p.edge__text О компании и решении задач вашего бизнеса
    //- .edge
    //-     .edge__icon 
    //-     p.edge__text Внешнее проявление бренда должно быть уникальным, идентифицирующим и узнаваемым, как отпечаток пальцев

    //- h2.section-title Отзывы

    //- .edge
    //-     .edge__icon 
    //-     .edge__text Благодарственные письма
    //- h2.section-title Расскажите нам о своём бизнесе

