<!DOCTYPE html>
html(lang='ru')
  - var title = "пркчм";
  include html/common/_head.pug 
  body
    .wrapper
      //- header.header 
      include html/common/_header.pug
      main.page 
        .header__container
          include html/components/thought.pug
          //- include html/components/spring.pug
          //- include html/components/button.pug
          include html/components/tip.pug

      footer.footer 