<!DOCTYPE html>
html(lang='ru')
  - var title = "пркчм";
  include html/common/_head.pug 
  body(data-simplebar='')
    .wrapper
      include html/common/_header.pug
      main.page 
        h1.visually-hidden Официальный сайт пркчм
        //- include html/sections/promo.pug
        //- include html/sections/manners.pug
        //- include html/sections/offer.pug
        //- include html/sections/provocation.pug
        include html/sections/services.pug
        include html/sections/portfolio.pug
        include html/sections/geography.pug
        //- include html/sections/digest.pug
        //- include html/sections/work.pug
        //- include html/sections/reviews.pug
        //- include html/sections/gratitude.pug
        //- include html/sections/feedback.pug
      include html/common/_footer.pug
    include html/common/_modal.pug