<!DOCTYPE html>
html(lang='ru')
  - var title = "пркчм";
  include html/common/_head.pug 
  body
    .wrapper
      include html/common/_header.pug
      main.page 
        h1.visually-hidden Официальный сайт пркчм
        include html/sections/promo.pug
        include html/sections/manners.pug

        //- .header__container
        //- include html/components/thought.pug
        //- include html/components/spring.pug
        //- include html/components/button.pug
        //- include html/components/tip.pug
        //- include html/components/title.pug
        //- include html/components/enumeration.pug

      footer.footer 