.footer {
  background-color: $mainColor;
  padding: rem(105) 0;
  color: $extraColor;

  @media (max-width: em(820)) {
    padding: rem(56) 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: rem(80);

    @media (max-width: em(820)) {
      gap: rem(40);
      min-width: 300px;
      // padding-left: 10px;
      // padding-right: 10px;
    }
  }

  .footer__under {
    display: grid;
    grid-template-columns: minmax(227px, auto) minmax(200px, 390px) minmax(200px, 390px);
    gap: 20px;

    @media (max-width: em(1100)) {
      max-width: 800px;
      grid-template-columns: minmax(222px, auto) minmax(200px, 390px) minmax(200px, 390px);
      margin: 0 auto;
      column-gap: 0;
    }

    @media (max-width: em(820)) {
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: inherit;
      text-align: left;
    }
  }

  .footer__agreement {
    text-align: right;

    @media (max-width: em(820)) {
      text-align: left
    }
  }


  .footer__body {
    display: grid;
    grid-template-areas:
      'logo nav'
      'logo location'
    ;
    grid-template-columns: minmax(227px, auto) minmax(200px, 800px);
    gap: 20px;
    row-gap: 80px;

    @media (max-width: em(1100)) {
      grid-template-areas:
        '. logo .'
        '. nav .'
        '. location .'
      ;
      grid-template-columns: 1fr minmax(500px, 800px) 1fr;
      column-gap: 0;
      row-gap: 60px;
    }

    @media (max-width: em(820)) {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }

  .footer__logo {
    grid-area: logo;

    @media (max-width: em(1100)) {
      display: flex;
      justify-content: center;
    }
  }

  .footer__nav {
    grid-area: nav;
  }

  .nav-footer {
    display: grid;
    // grid-template-columns: minmax(180px, 193px) minmax(180px, 193px) minmax(180px, 193px) 100px;
    grid-template-columns: minmax(180px, 183px) minmax(180px, 200px) minmax(180px, 202px) 98px;
    gap: 40px;

    @media (max-width: em(820)) {
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 0px;
    }
  }

  .footer__location {
    grid-area: location;
    display: grid;
    // grid-template-columns: minmax(180px, 200px) minmax(180px, 200px) auto;
    grid-template-columns: minmax(180px, 186px) minmax(180px, 200px) minmax(325px, auto);
    gap: 37px;

    @media (max-width: em(820)) {
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: inherit;
      text-align: left;
      gap: 40px;
    }
  }

  .footer__work {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 13px;

    @media (max-width: em(820)) {
      align-items: flex-start;
      gap: 20px;
    }
  }

  .footer__media {
    // @media (max-width: em(820)) {
    display: flex;
    flex-direction: column;
    gap: 30px;

    gap: 23px;
    padding-top: 7px;
    // }
  }

  .footer__link {
    display: inline-block;
  }

  .nav-footer__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 19px;
    display: inline-block;
    cursor: auto;
    position: relative;
    line-height: 1;

    @media (max-width: em(820)) {
      margin-bottom: 0;
      padding: 20px 0;
      width: 100%;
      text-align: left;
      display: flex;


      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        // background-color: #fff;
        // margin-top: -5px;
        transform: translateY(-50%);
        background-image: url('@img/arr.svg');
        height: 7px;
        width: 10px;
        transition: transform 0.5s ease 0s;
      }


      &._spoller-active {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }

      }
    }
  }

  a.nav-footer__title {
    cursor: pointer;

    &::after {
      display: none;
    }


  }

  .nav-footer__sub-list {
    display: flex;
    flex-direction: column;
    gap: rem(6.6);

    @media (max-width: em(820)) {
      padding-bottom: 30px;
    }
  }

  [hidden] {
    display: none;
  }

  .nav-footer__sub-link {
    line-height: 125%;
    color: rgba($extraColor, 0.6);
  }

  .nav-footer__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: em(820)) {
      border-top: 1px solid $extraColor;
      display: block;

      // padding: 0 0 10px;
      &:last-of-type {
        border-bottom: 1px solid $extraColor;
      }
    }
  }

  .footer__tel {
    font-size: rem(32);
    @include adaptiveValue("font-size", 37, 32);
    line-height: 1;
  }

  .footer__under {
    color: rgba($extraColor, 0.3);
  }
}

.nav-footer__title::selection,
.nav-footer__sub-link::selection {
  color: $mainColor;
  background-color: $extraColor;
}