//====================================================================================================

.header__body {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-top: rem(27);
	padding-bottom: rem(27);
	border-bottom: 1px solid $mainColor;

	@media (max-width: $mobile) {
		gap: rem(20);
	}
}

.header__logo {
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 300, 250, 1330, 1100, 2);
}

.header__menu {
	flex: 1 1 auto;
}

.header__contacts {
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 300, 250, 1330, 1100, 2);
	display: flex;
	flex-direction: row;
	gap: rem(32);
	align-items: center;
	justify-self: end;
	justify-content: flex-end;

	@media (max-width: $mobileSmall) {
		flex-direction: column;
		gap: rem(40);
		align-items: flex-start;
	}
}

.header__number {
	@media (max-width: $mobileSmall) {
		order: -1;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: rem(10);
			background-color: $mainColor;
		}

		&::before {
			top: rem(-1);
		}

		&::after {
			bottom: rem(-2);
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
				background-color: $extraColor;
			}

			&::before,
			&::after {
				background-color: $extraColor;
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}
		}
	}
}