-var type= 'digest'

section.digest
  .digest__container
    .digest__info
      .digest__edge.edge
        .edge__icon 
        p.edge__text О компании и решении задач вашего бизнеса
      h2.digest__title.section-title Дайджест
      .digest__text 
        span.line.line_5
        p Мы работаем с 2005 года: создаём и продвигаем сайты, наполняем их контентом, разрабатываем дизайн, повышаем узнаваемость и популярность брендов через промо-продукцию и полиграфию. 
        p Результат нашей работы — единый образ вашего бренда в сознании потребителей. Мы не просто делаем сайты и продукцию с логотипом, мы подталкиваем ваших потенциальных клиентов к сотрудничеству с вами. #[br]Цель достижима за счёт гармоничного оформления визуальных материалов, использования фирменного стиля, экспертности, о которой мы заявляем через тексты, фото и видео. Такой подход повышает доверие к вашему бренду и позволяет качественнее решать любые маркетинговые задачи. 
    .digest__services
      .digest__spring.spring 
        .spring__body(data-watch-threshold="0.5" data-watch-once data-watch) 
          .spring__content
            p.spring__text Мы #[br] в социальных #[br] сетях
            include ../components/social.pug
      .digest__analysis.analysis-digest
        .analysis-digest__title Мы проводим анализ всех элементов концепции бренда
        ul.analysis-digest__list
          li.analysis-digest__item 
            .analysis-digest__icon
            p.analysis-digest__text контента;
          li.analysis-digest__item 
            .analysis-digest__icon
            p.analysis-digest__text дизайна; 
          li.analysis-digest__item 
            .analysis-digest__icon
            p.analysis-digest__text сайта; 
          li.analysis-digest__item 
            .analysis-digest__icon
            p.analysis-digest__text мерча;
          li.analysis-digest__item 
            .analysis-digest__icon
            p.analysis-digest__text эксклюзивного наградного и подарочного фонда.
      .digest__footer
        span.line.line_12
        .tip
          .tip__icon !
          p.tip__text Даём рекомендации по улучшению,  даже если вы поставили перед нами не комплексную задачу. 

        button(type="button").button.digest__button Узнать подробнее 
