-var type= 'feedback'
section.feedback
  .feedback__container
    h2.feedback__title.section-title Расскажите #[br]нам о своём бизнесе
    .feedback__thought.thought 
      .thought__icon !
      p.thought__text Мы проведём аудит, составим план комплексного продвижения с учётом ваших задач и бюджеиа, или представим #[br] единичные услуги, необходимые вашему бизнесу
    .feedback__pic 
      .feedback__img.feedback__img-ibg
        img(src="@img/feedback/hand.png" alt="Расслабленный мужчина").feedback__img_contain
    .feedback__thought
    form.feedback__form.form(action="#" method="GET")
      .form__inputs
        .form__line
          label(for="name").form__label
            input(type="text" name="name" id="name" placeholder="Укажите ваше имя" required).form__input
            span.form__text Ваше имя
        .form__line
          label(for="telephone").form__label
            input(type="text" name="telephone" id="telephone" placeholder="Введите телефон" required).form__input
            span.form__text Телефон для связи
        .form__line
          label(for="email").form__label
            input(type="email" name="email" id="email" placeholder="Введите e-mail" required onkeyup="this.setAttribute('value', this.value);" value="").form__input.form__input_mail
            span.form__text Электронная почта
        .form__line
          label(for="question").form__label
            input(type="text" name="question" id="question" placeholder="Введите вопрос" required).form__input.form__input_question
            span.form__text Задайте свой вопрос
          label(for="file").form__file.file-form
            input(accept='.jpg, .png' multiple='' id='file' name='file' type='file' hidden).visually-hidden
            span.file-form__body 
              span.file-form__text Прикрепить файл
              span.file-form__icon 
      .feedback__footer 
        .feedback__social
          ul.social.social_feedback
            li.social__item   
              a(href="#" aria-label="телеграмм").social__link 
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none")
                  g(clip-path="url(#a)")
                    path(stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 10-4 4 6 6 4-16-18 7 4 2 2 6 3-4")
                      defs
                        clippath#a
                          path(fill="#fff" d="M0 0h24v24H0z")
            li.social__item   
              a(href="#" aria-label="ватсап").social__link 
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none')
                  g(stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' clip-path='url(#a)')
                    path(d='m3 21 1.65-3.8a9 9 0 1 1 3.4 2.9L3 21')
                    path(d='M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1')
                  defs
                    clippath#a
                      path(fill='#fff' d='M0 0h24v24H0z')
          .feedback__tip
            p Если у вас срочный вопрос, вы можете  написать нам в мессенджерах
        .feedback__submit
          button(type="submit" data-popup="#popup").button.feedback__btn Отправить заявку
          .feedback__agreement
            p Нажимая на кнопку «Отправить заявку» я соглашаюсь на обработку персональных данных
