section.geography
  .geography__container
    .geography__edge.edge
      .edge__icon 
      p.edge__text Мы работаем по всей территории россии и обеспечиваем быструю доставку в регионы
    h2.geography__title.section-title География заказов
    .geography__map.geography__map-ibg
      img(src='@img/geography/map.png').geography__map_contain
      .geography__point.point.point_one 
        .point__dot
        .point__text Кострома 
      .geography__point.point.point_two 
        .point__dot
        .point__text Санкт Петербург
      .geography__point.point.point_three 
        .point__dot
        .point__text Москва 