section.gratitude
  .gratitude__container
    h2.gratitude__title.visually-hidden Благодарственные письма
    .gratitude__edge.edge
      .edge__icon 
      .edge__text Благодарственные письма
    .gratitude__content
      .gratitude__slider.swiper
        .gratitude__wrapper.swiper-wrapper(data-gallery='')
          a(href="@img/gratitude/gratitude.png").gratitude__slide.swiper-slide
            img(src="@img/gratitude/gratitude.png" alt="Благодарность").gratitude__slide__img
          a(href="@img/gratitude/gratitude.png").gratitude__slide.swiper-slide 
            img(src="@img/gratitude/gratitude.png" alt="Благодарность").gratitude__slide__img
          a(href="@img/gratitude/gratitude.png").gratitude__slide.swiper-slide 
            img(src="@img/gratitude/gratitude.png" alt="Благодарность").gratitude__slide__img