section.manners
    .manners__container 
        .manners__thought.thought.thought_small
            .thought__icon ?
            p.thought__text Это #[br] возможно?
        h2.manners__title.section-title Да, если создать фирменный стиль
        .enumeration.manners__enumeration
            ul.enumeration__list 
                li.enumeration__item 
                    p.enumeration__title 
                    .enumeration__text
                        p На его основе разрабатывать уникальный дизайн всех маркетинговых материалов
                li.enumeration__item 
                    p.enumeration__title 
                    .enumeration__text 
                        p Разработать #[br]сайт и продумать его будущее продвижение
                li.enumeration__item 
                    p.enumeration__title 
                    .enumeration__text
                        p Внедрить#[br] мерч в бизнес-процессы
        .tip.manners__tip
            .tip__icon !
            p.tip__text Стоит ответственно относиться к каждому элементу образа бренда, осознавая, что они требуют постоянной доработки и актуализации, так как технологии и конкуренты не стоят на месте
