section.offer
    .offer__container 
        .offer__tip
            .spring 
                .spring__body
                    .spring__content
                        p.spring__text Достичь #[br] высоких результатов #[br] возможно только #[br] при работе с вами #[br] в полном #[br] контакте
        h2.offer__title.section-title Что мы предлагаем?
        ul.offer__list 
            li.offer__item 
                .offer__icon
                p.offer__text 
                    b Мы поможем вашему бренду 
                    | стать ближе к желаемому образу и поддерживать его в актуальном состоянии с точки зрения визуальной, смысловой и технической частей
            li.offer__item 
                .offer__icon
                p.offer__text 
                    b Мы сделаем ваших потенциальных клиентов 
                    | реальными, укрепим связь с каждым через грамотное оформление и постоянную актуализацию всех элементов образа бренда