section.portfolio
  .carousel-title
    .carousel-title__top
      ul.carousel-title__list
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
      ul.carousel-title__list
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
        li.carousel-title__item Портфолио
    .carousel-title__bottom.carousel-title__bottom_pause
      ul.carousel-title__list
        li.carousel-title__item
          a(href="#").carousel-title__link Создание контента
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка дизайна
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка и продвижение сайтов
        li.carousel-title__item
          a(href="#").carousel-title__link Создание мерча
        li.carousel-title__item
          a(href="#").carousel-title__link Создание эксклюзива
        li.carousel-title__item
          a(href="#").carousel-title__link Продвижение
        li.carousel-title__item
          a(href="#").carousel-title__link Тексы
        li.carousel-title__item
          a(href="#").carousel-title__link Фото
        li.carousel-title__item
          a(href="#").carousel-title__link Создание контента
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка дизайна
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка и продвижение сайтов
        li.carousel-title__item
          a(href="#").carousel-title__link Создание мерча
      ul.carousel-title__list
        li.carousel-title__item
          a(href="#").carousel-title__link Создание контента
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка дизайна
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка и продвижение сайтов
        li.carousel-title__item
          a(href="#").carousel-title__link Создание мерча
        li.carousel-title__item
          a(href="#").carousel-title__link Создание эксклюзива
        li.carousel-title__item
          a(href="#").carousel-title__link Продвижение
        li.carousel-title__item
          a(href="#").carousel-title__link Тексы
        li.carousel-title__item
          a(href="#").carousel-title__link Фото
        li.carousel-title__item
          a(href="#").carousel-title__link Создание контента
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка дизайна
        li.carousel-title__item
          a(href="#").carousel-title__link Разработка и продвижение сайтов
        li.carousel-title__item
          a(href="#").carousel-title__link Создание мерча
  h2.portfolio__title.visually-hidden Портфолио
  .portfolio__container
    ul.portfolio__list
      li.portfolio__item
        .portfolio__header.slider-navigation.slider-navigation_portfolio 
          .slider-navigation__panel  
            button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.portfolio__prev.portfolio__prev_one(type='button' aria-label="предыдущий слайд") 
            .swiper-pagination.portfolio__pagination.portfolio__pagination_one
            button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.portfolio__next.portfolio__next_one(type='button' aria-label="следующий слайд") 
        .portfolio__body
          h3.sub-title.portfolio__title Создание контента
          a(href="#").button.button_extra.portfolio__button Подробнее об услуге
          .portfolio__content
            .portfolio__slider.swiper.portfolio__slider_one
              ul.portfolio__wrapper.swiper-wrapper
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/1.png');")
                  .portfolio__title-text
                    p Фотосессия для сайта
                    p Bus star
                  .portfolio__footer
                    p.portfolio__text Провели фотосъемку для сервиса аренды автобусов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/1.png');")
                  .portfolio__title-text
                    p Фотосессия для сайта
                    p Bus star
                  .portfolio__footer
                    p.portfolio__text Провели фотосъемку для сервиса аренды автобусов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/1.png');")
                  .portfolio__title-text
                    p Фотосессия для сайта
                    p Bus star
                  .portfolio__footer
                    p.portfolio__text Провели фотосъемку для сервиса аренды автобусов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
      li.portfolio__item
        .portfolio__header.slider-navigation.slider-navigation_portfolio 
          .slider-navigation__panel  
            button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.portfolio__prev.portfolio__prev_two(type='button' aria-label="предыдущий слайд") 
            .swiper-pagination.portfolio__pagination.portfolio__pagination_two
            button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.portfolio__next.portfolio__next_two(type='button' aria-label="следующий слайд") 
        .portfolio__body
          h3.sub-title.portfolio__title Разработка дизайна
          a(href="#").button.button_extra.portfolio__button Подробнее об услуге
          .portfolio__content
            .portfolio__slider.swiper.portfolio__slider_two
              ul.portfolio__wrapper.swiper-wrapper
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/2.png');")
                  .portfolio__title-text
                    p Создание брендинга
                    p для Cervalina
                  .portfolio__footer
                    p.portfolio__text Разработали фирменный стиль для магазина интерьерных украшений
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/2.png');")
                  .portfolio__title-text
                    p Создание брендинга
                    p для Cervalina
                  .portfolio__footer
                    p.portfolio__text Разработали фирменный стиль для магазина интерьерных украшений
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/2.png');")
                  .portfolio__title-text
                    p Создание брендинга
                    p для Cervalina
                  .portfolio__footer
                    p.portfolio__text Разработали фирменный стиль для магазина интерьерных украшений
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/2.png');")
                  .portfolio__title-text
                    p Создание брендинга
                    p для Cervalina
                  .portfolio__footer
                    p.portfolio__text Разработали фирменный стиль для магазина интерьерных украшений
                    a(href="#").portfolio__link 
                      span Смотреть кейс
      li.portfolio__item
        .portfolio__header.slider-navigation.slider-navigation_portfolio 
          .slider-navigation__panel  
            button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.portfolio__prev.portfolio__prev_three(type='button' aria-label="предыдущий слайд") 
            .swiper-pagination.portfolio__pagination.portfolio__pagination_three
            button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.portfolio__next.portfolio__next_three(type='button' aria-label="следующий слайд") 
        .portfolio__body
          h3.sub-title.portfolio__title Разработка и продвижение сайта
          a(href="#").button.button_extra.portfolio__button Подробнее об услуге
          .portfolio__content
            .portfolio__slider.swiper.portfolio__slider_three
              ul.portfolio__wrapper.swiper-wrapper
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/3.png');")
                  .portfolio__title-text
                    p Продвижение сайта 
                    p диллера Tesla
                  .portfolio__footer
                    p.portfolio__text Создали эффективную воронку продаж и привели новых клиентов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/3.png');")
                  .portfolio__title-text
                    p Продвижение сайта 
                    p диллера Tesla
                  .portfolio__footer
                    p.portfolio__text Создали эффективную воронку продаж и привели новых клиентов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/3.png');")
                  .portfolio__title-text
                    p Продвижение сайта 
                    p диллера Tesla
                  .portfolio__footer
                    p.portfolio__text Создали эффективную воронку продаж и привели новых клиентов
                    a(href="#").portfolio__link 
                      span Смотреть кейс
      li.portfolio__item
        .portfolio__header.slider-navigation.slider-navigation_portfolio 
          .slider-navigation__panel  
            button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.portfolio__prev.portfolio__prev_four(type='button' aria-label="предыдущий слайд") 
            .swiper-pagination.portfolio__pagination.portfolio__pagination_four
            button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.portfolio__next.portfolio__next_four(type='button' aria-label="следующий слайд") 
        .portfolio__body
          h3.sub-title.portfolio__title Создание мерча
          a(href="#").button.button_extra.portfolio__button Подробнее об услуге
          .portfolio__content
            .portfolio__slider.swiper.portfolio__slider_four
              ul.portfolio__wrapper.swiper-wrapper
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/4.png');")
                  .portfolio__title-text
                    p Мерч для
                    p дилеров WYNNS®
                  .portfolio__footer
                    p.portfolio__text Производство партии фирменной продукции для поставщика автохимии
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/4.png');")
                  .portfolio__title-text
                    p Мерч для
                    p дилеров WYNNS®
                  .portfolio__footer
                    p.portfolio__text Производство партии фирменной продукции для поставщика автохимии
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/4.png');")
                  .portfolio__title-text
                    p Мерч для
                    p дилеров WYNNS®
                  .portfolio__footer
                    p.portfolio__text Производство партии фирменной продукции для поставщика автохимии
                    a(href="#").portfolio__link 
                      span Смотреть кейс
      li.portfolio__item
        .portfolio__header.slider-navigation.slider-navigation_portfolio 
          .slider-navigation__panel  
            button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.portfolio__prev.portfolio__prev_five(type='button' aria-label="предыдущий слайд") 
            .swiper-pagination.portfolio__pagination.portfolio__pagination_five
            button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.portfolio__next.portfolio__next_five(type='button' aria-label="следующий слайд") 
        .portfolio__body
          h3.sub-title.portfolio__title Изготовление эксклюзива
          a(href="#").button.button_extra.portfolio__button Подробнее об услуге
          .portfolio__content
            .portfolio__slider.swiper.portfolio__slider_five
              ul.portfolio__wrapper.swiper-wrapper
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/5.png');")
                  .portfolio__title-text
                    p Награда лучшему дилеру 
                    p компании BRIDGESTONE 
                    p (производитель шин)
                  .portfolio__footer
                    p.portfolio__text Производство партии наградных статуэток по эскизу заказчика
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/5.png');")
                  .portfolio__title-text
                    p Награда лучшему дилеру 
                    p компании BRIDGESTONE 
                    p (производитель шин)
                  .portfolio__footer
                    p.portfolio__text Производство партии наградных статуэток по эскизу заказчика
                    a(href="#").portfolio__link 
                      span Смотреть кейс
                li.portfolio__slide.swiper-slide(style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/portfolio/5.png');")
                  .portfolio__title-text
                    p Награда лучшему дилеру 
                    p компании BRIDGESTONE 
                    p (производитель шин)
                  .portfolio__footer
                    p.portfolio__text Производство партии наградных статуэток по эскизу заказчика
                    a(href="#").portfolio__link 
                      span Смотреть кейс
