section.promo 
  .promo__container 
    .promo__tip
      .promo__pic
        .promo__img
          img(src="@img/promo/man3.png" alt="Расслабленный мужчина")
    .promo__thought.thought.thought_small.thought_center
      .thought__icon ?
      p.thought__text Вы хотите #[br] так...
    h2.promo__section-title.section-title.section-title_large Клиенты лояльны #[br]к вашему бренду
    .promo__circle-point.circle-point
      ul.circle-point__list 
        li.circle-point__item.spring.spring_point
          .spring__body(data-watch-threshold="0.5" data-watch-once data-watch)
            .spring__content
              p.spring__text Понимают #[br] и принимают #[br] его ценности
        li.circle-point__item.spring.spring_point
          .spring__body(data-watch-threshold="0.5" data-watch-once data-watch)
            .spring__content
              p.spring__text Не забывают #[br]о нём 
        li.circle-point__item.spring.spring_point 
          .spring__body(data-watch-threshold="0.5" data-watch-once data-watch)
            .spring__content
              p.spring__text Рассказывают #[br] о ваших продуктах #[br]знакомым  
    .promo__enumeration.enumeration.enumeration_client
      ul.enumeration__list 
        li.enumeration__item 
          p.enumeration__title Новые клиенты
          .enumeration__text
            p Приходят и совершают покупки без настойчивых призывов с вашей стороны, а по собственному желанию — они доверяют вашей компании
        li.enumeration__item 
          p.enumeration__title Старые клиенты
          .enumeration__text
            p Чувствуют связь #[br]с брендом и заботу о них