section.provocation
  .provocation__container
    h2.visually-hidden Провокация пользователя
    .provocation__thought
      .thought.thought_normal 
        .thought__icon ?
        p.thought__text Для начала #[br] вам нелбходимо честно ответить #[br] себе на вопросы, которые мы подготовили
    .provocation__slider.swiper
      ul.provocation__wrapper.swiper-wrapper
        li.provocation__slide.swiper-slide.quiz-slide
          .quiz-slide__img.quiz-slide__img-ibg
            img(src="@img/provocation/1.png" alt="картинка").quiz-slide__pic-ibg_contain
          h3.section-title.quiz-slide__title Ваш контент качественный? 
          ul.quiz-slide__list 
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b В текстах 
                  | нет опечаток и ошибок? 
                p Они передают ценность ваших услуг? 
            li.quiz-slide__item
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b Фотографии 
                  | уникальны, не заимствованы у конкурентов?
                p Привлекают внимание и мотивируют клиента к покупке? 
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b Видео 
                  | отражают все преимущества бренда и выгоды от сотрудничества? 
                p Формируют доверие? 
          .quiz-slide__footer
            .slider-navigation 
              .slider-navigation__text 
                p Есть сомнения?
              .slider-navigation__panel  
                button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.provocation__prev(type='button' aria-label="предыдущий слайд") 
                .swiper-pagination.provocation__pagination
                button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.provocation__next(type='button' aria-label="следующий слайд") 
            .quiz-slide__info
              .tip.quiz-slide__tip
                .tip__icon !
                p.tip__text Мы проведём аудит, выявим ошибки, дадим рекомендации и создадим экспертный контент
              button(type="button").button.quiz-slide__btn Узнать подробнее 
        li.provocation__slide.swiper-slide.quiz-slide
          .quiz-slide__img.quiz-slide__img-ibg
            img(src="@img/provocation/2.png" alt="картинка").quiz-slide__pic-ibg_contain
          h3.section-title.quiz-slide__title У вас есть правила оформления фирменного стиля?
          ul.quiz-slide__list 
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b Ваш логотип 
                  | адаптирован для последующего создания рекламных материалов и брендирования продукции?
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b Все элементы 
                  | образа бренда (сайт, мерч, полиграфия) единообразны?
            li.quiz-slide__item
              .quiz-slide__icon ?
              .quiz-slide__text
                p
                  b У вашего сайта 
                  | адаптивный дизайн? Он на всех устройствах одинаково удобен и красив?
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p Ваши клиенты легко 
                  b узнают ваш бренд 
          .quiz-slide__footer
            .slider-navigation 
              p.slider-navigation__text Есть сомнения?
              .slider-navigation__panel  
                button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.provocation__prev(type='button' aria-label="предыдущий слайд") 
                .swiper-pagination.provocation__pagination
                button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.provocation__next(type='button' aria-label="следующий слайд") 
            .quiz-slide__info
              .tip.quiz-slide__tip
                .tip__icon !
                p.tip__text Мы проведём аудит, выявим ошибки, создадим правила вашего фирменного стиля и на его основе современный дизайн для всех носителей.
              button(type="button").button.quiz-slide__btn Узнать подробнее 
        li.provocation__slide.swiper-slide.quiz-slide
          .quiz-slide__img.quiz-slide__img-ibg
            img(src="@img/provocation/3.png" alt="картинка").quiz-slide__pic-ibg_contain
          h3.section-title.quiz-slide__title Ваш контент качественный? 
          ul.quiz-slide__list 
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p Ваш сайт оптимизирован под поисковые системы Яндекс и Google?
            li.quiz-slide__item
              .quiz-slide__icon ?
              .quiz-slide__text
                p Посетителям удобно им пользоваться? Вы вносите правки в навигацию сайта, делая его удобным на основе анализа?
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p На вашем сайте удобно редактировать информацию или это всегда «танцы с бубном» сложный процесс?
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p Актуальная ли информация на вашем сайте? Не вводите ли вы клиентов в заблуждение устаревшой информацией? Вам приходится постоянно извиняться при запросах за неактуальные данные о цене и ассортименте?
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p Ваша рекламная кампания оптимизирована? Она приносит результат? Или бюджет сливается, а конверсия слабая?
          .quiz-slide__footer
            .slider-navigation 
              p.slider-navigation__text Есть сомнения?
              .slider-navigation__panel  
                button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.provocation__prev(type='button' aria-label="предыдущий слайд") 
                .swiper-pagination.provocation__pagination
                button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.provocation__next(type='button' aria-label="следующий слайд") 
            .quiz-slide__info
              .tip.quiz-slide__tip
                .tip__icon !
                p.tip__text Мы проведём аудит, выявим ошибки, разработаем современный удобный сайт, оптимизируем его и запустим эффективную рекламу.
              button(type="button").button.quiz-slide__btn Узнать подробнее        
        li.provocation__slide.swiper-slide.quiz-slide
          .quiz-slide__img.quiz-slide__img-ibg
            img(src="@img/provocation/4.png" alt="картинка").quiz-slide__pic-ibg_contain
          h3.section-title.quiz-slide__title Ваш контент качественный? 
          ul.quiz-slide__list 
            li.quiz-slide__item 
              .quiz-slide__icon ?
              .quiz-slide__text
                p Мерч выполнен в корпоративном стиле?
            li.quiz-slide__item
              .quiz-slide__icon ?
              .quiz-slide__text
                p Ваш мерч отличается от промо-продукции конкурентов? Или он как у всех?
            li.quiz-slide__item
              .quiz-slide__icon ?
              .quiz-slide__text
                p Соответствуют ли ваши бизнес-подарки ожиданиям клиентов? Или они не имеют ценности для них, ими не пользуются или передаривают?
          .quiz-slide__footer
            .slider-navigation 
              p.slider-navigation__text Есть сомнения?
              .slider-navigation__panel  
                button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.provocation__prev(type='button' aria-label="предыдущий слайд") 
                .swiper-pagination.provocation__pagination
                button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.provocation__next(type='button' aria-label="следующий слайд") 
            .quiz-slide__info
              .tip.quiz-slide__tip
                .tip__icon !
                p.tip__text Мы проведём аудит, выявим ошибки, дадим рекомендации и создадим достойный мерч для вашего бренда
              button(type="button").button.quiz-slide__btn Узнать подробнее 