section.reviews
  .reviews__container
    .reviews__spring.spring 
      .spring__body(data-watch-threshold="0.5" data-watch-once data-watch) 
        .spring__content
          p.spring__text Эмоциональные #[br] отзывы наших #[br] клиентов
          a(href="#" aria-label="просотреть еще отзывы").spring__link
    .reviews__main
      h2.reviews__title.section-title Отзывы
        span.line.line_13
      .reviews__slider.swiper
        ul.reviews__wrapper.swiper-wrapper
          li.reviews__slide.swiper-slide.review-slide
            .review-slide__body
              .review-slide__info
                p.review-slide__name Элеонора Дубинина
                ul.review-slide__raiting.raiting
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
              .review-slide__text
                p Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную палитру. Нашла подходящие в BIZGIFT™. Менеджер предложил различные возможности для персонализации, выбрали тиснение логотипа и оригинальный форзац/нахзац. Затем получили качественную визуализацию, оформили заказ и оперативно получили готовые изделия, которыми очень довольны.
                p Спасибо компании BIZGIFT™, будем обращаться и дальше!
            .review-slide__footer
              .slider-navigation 
                p.slider-navigation__text Источник: 2gis.ru
                .slider-navigation__panel  
                  button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.reviews__prev(type='button' aria-label="предыдущий слайд") 
                  .swiper-pagination.reviews__pagination
                  button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.reviews__next(type='button' aria-label="следующий слайд") 
          li.reviews__slide.swiper-slide.review-slide
            .review-slide__body
              .review-slide__info
                p.review-slide__name Элеонора Дубинина
                ul.review-slide__raiting.raiting
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
              .review-slide__text
                p Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную палитру.форзац/нахзац. Затем получили качественную визуализацию, оформили заказ изделия, которыми очень довольны.
                p Спасибо компании BIZGIFT™, будем обращаться и дальше!
            .review-slide__footer
              .slider-navigation 
                p.slider-navigation__text Источник: 2gis.ru
                .slider-navigation__panel  
                  button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.reviews__prev(type='button' aria-label="предыдущий слайд") 
                  .swiper-pagination.reviews__pagination
                  button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.reviews__next(type='button' aria-label="следующий слайд") 
          li.reviews__slide.swiper-slide.review-slide
            .review-slide__body
              .review-slide__info
                p.review-slide__name Элеонора Дубинина
                ul.review-slide__raiting.raiting
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
                  li.raiting__item 
              .review-slide__text
                p Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную палитру. Нашла подходящие в BIZGIFT™. Менеджер предложил различные возможности для персонализации, выбрали тиснение логотипа и оригинальный форзац/нахзац. Затем получили качественную визуализацию, оформили заказ и оперативно получили готовые изделия, которыми очень довольны.
                p Спасибо компании BIZGIFT™, будем обращаться и дальше!
            .review-slide__footer
              .slider-navigation 
                p.slider-navigation__text Источник: 2gis.ru
                .slider-navigation__panel  
                  button.swiper-button-prev.slider-navigation__btn.slider-navigation__btn_prev.reviews__prev(type='button' aria-label="предыдущий слайд") 
                  .swiper-pagination.reviews__pagination
                  button.swiper-button-next.slider-navigation__btn.slider-navigation__btn_next.reviews__next(type='button' aria-label="следующий слайд") 