section.services
  //- .services__header
  //- .carousel-title 
  //- marquee(scrollamount="30")
  //-   ul.carousel-title__list
  //-     li.carousel-title__item
  //-       p Портфолио
  //-     li.carousel-title__item
  //-       p Портфолио
  //-     li.carousel-title__item
  //-       p Портфолио
  //-     li.carousel-title__item
  //-       p Портфолио
  //-     li.carousel-title__item
  //-       p Портфолио
  //-     li.carousel-title__item  
  //-       p Портфолио
  //-   .carousel-title__sub
  //- p dfjh
  //- Создание контента
  //- Разработка дизайна
  //- Разработка и продвижение сайтов
  //- Создание мерча
  //- Создание эксклюзива
  //- Продвижение
  //- Тексы
  //- Фото
  .services__container 
    h2.services__title.visually-hidden Наши услуги
    ul.services__list 
      li.services__item 
        h3.services__title Регистрация торговой марки
        ul.service
          li.service__item
            p.service__text Бесплатная экспертиза
          li.service__item 
            p.service__text Регистрация торговой марки
          li.service__item
            p.service__text Патент на изобретение
      li.services__item 
        h3.services__title Создание контента
        ul.service
          li.service__item
            p.service__text Текст
          li.service__item 
            p.service__text Фото
          li.service__item
            p.service__text Видео
      li.services__item 
        h3.services__title Изготовление эксклюзивных подарков
        ul.service
          li.service__item
            p.service__text Индивидуальный
          li.service__item 
            p.service__text Знаки, медали
          li.service__item
            p.service__text Тираж
      li.services__item 
        h3.services__title Сквозная аналитика
        ul.service
          li.service__item
            p.service__text Аудит
          li.service__item 
            p.service__text Внедрение
          li.service__item
            p.service__text Настройка отчётности
      li.services__item 
        h3.services__title Разработка дизайна
        ul.service
          li.service__item
            p.service__text Сайт
          li.service__item 
            p.service__text Соцсети
          li.service__item
            p.service__text Рекламные компании
          li.service__item
            p.service__text Полиграфия
          li.service__item
            p.service__text Мерч
      li.services__item 
        h3.services__title Создание мерча
        ul.service
          li.service__item
            p.service__text Каталоги
          li.service__item 
            p.service__text Индивидуальный
          li.service__item
            p.service__text Полиграфия
      li.services__item 
        h3.services__title Разработка и продвижение сайта
        ul.service
          li.service__item
            p.service__text Разработка
          li.service__item 
            p.service__text Оптимизация
          li.service__item
            p.service__text Рекламные компании
    .services__footer
      .services__tagline
        p Единый стиль
        p Гармония
        p Доверие
        p Экспертность
      a(href="#").services__presentation 
        span Скачать презентацию


