section.services
  .carousel-title
    .carousel-title__top
        ul.carousel-title__list
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
        ul.carousel-title__list
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
            li.carousel-title__item Наши услуги
    .carousel-title__bottom.carousel-title__bottom_pause
        ul.carousel-title__list
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
            li.carousel-title__item
                a(href="#").carousel-title__link Дизайн
            li.carousel-title__item
                a(href="#").carousel-title__link Полиграфия
            li.carousel-title__item
                a(href="#").carousel-title__link Сайты
            li.carousel-title__item
                a(href="#").carousel-title__link Продвижение
            li.carousel-title__item
                a(href="#").carousel-title__link Тексы
            li.carousel-title__item
                a(href="#").carousel-title__link Фото
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
            li.carousel-title__item
                a(href="#").carousel-title__link Дизайн
            li.carousel-title__item
                a(href="#").carousel-title__link Полиграфия
            li.carousel-title__item
                a(href="#").carousel-title__link Сайты
            li.carousel-title__item
                a(href="#").carousel-title__link Продвижение
            li.carousel-title__item
                a(href="#").carousel-title__link Тексы
            li.carousel-title__item
                a(href="#").carousel-title__link Фото
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
        ul.carousel-title__list
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
            li.carousel-title__item
                a(href="#").carousel-title__link Дизайн
            li.carousel-title__item
                a(href="#").carousel-title__link Полиграфия
            li.carousel-title__item
                a(href="#").carousel-title__link Сайты
            li.carousel-title__item
                a(href="#").carousel-title__link Продвижение
            li.carousel-title__item
                a(href="#").carousel-title__link Тексы
            li.carousel-title__item
                a(href="#").carousel-title__link Фото
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
            li.carousel-title__item
                a(href="#").carousel-title__link Дизайн
            li.carousel-title__item
                a(href="#").carousel-title__link Полиграфия
            li.carousel-title__item
                a(href="#").carousel-title__link Сайты
            li.carousel-title__item
                a(href="#").carousel-title__link Продвижение
            li.carousel-title__item
                a(href="#").carousel-title__link Тексы
            li.carousel-title__item
                a(href="#").carousel-title__link Фото
            li.carousel-title__item
                a(href="#").carousel-title__link Контент
            li.carousel-title__item
                a(href="#").carousel-title__link Мерч
  .services__container 
    h2.services__title.visually-hidden Наши услуги
    ul.services__list
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Регистрация торговой марки
        ul.service
          li.service__item
            a(href="#").service__text Бесплатная экспертиза
          li.service__item 
            a(href="#").service__text Регистрация торговой марки
          li.service__item
            a(href="#").service__text Патент на изобретение
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Создание контента
        ul.service
          li.service__item
            a(href="#").service__text Текст
          li.service__item 
            a(href="#").service__text Фото
          li.service__item
            a(href="#").service__text Видео
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Изготовление эксклюзивных подарков
        ul.service
          li.service__item
            a(href="#").service__text Индивидуальный
          li.service__item 
            a(href="#").service__text Знаки, медали
          li.service__item
            a(href="#").service__text Тираж
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Сквозная аналитика
        ul.service
          li.service__item
            a(href="#").service__text Аудит
          li.service__item 
            a(href="#").service__text Внедрение
          li.service__item
            a(href="#").service__text Настройка отчётности
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Разработка дизайна
        ul.service
          li.service__item
            a(href="#").service__text Сайт
          li.service__item 
            a(href="#").service__text Соцсети
          li.service__item
            a(href="#").service__text Рекламные компании
          li.service__item
            a(href="#").service__text Полиграфия
          li.service__item
            a(href="#").service__text Мерч
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Создание мерча
        ul.service
          li.service__item
            a(href="#").service__text Каталоги
          li.service__item 
            a(href="#").service__text Индивидуальный
          li.service__item
            a(href="#").service__text Полиграфия
      li.services__item(data-watch-threshold="0.5" data-watch-once data-watch)
        h3.services__title Разработка и продвижение сайта
        ul.service
          li.service__item
            a(href="#").service__text Разработка
          li.service__item 
            a(href="#").service__text Оптимизация
          li.service__item
            a(href="#").service__text Рекламные компании
    .services__footer
      .services__tagline(data-watch-threshold="0.5" data-watch-once data-watch)
        p Единый стиль
        p Гармония
        p Доверие
        p Экспертность
      a(href="#").services__presentation 
        span Скачать презентацию


