section.work
  .carousel-title
    .carousel-title__top.carousel-title__top_large
      ul.carousel-title__list
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
      ul.carousel-title__list
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
        li.carousel-title__item Наши преимущества
    .carousel-title__bottom.carousel-title__bottom_pause
      ul.carousel-title__list
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
      ul.carousel-title__list
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
        li.carousel-title__item
          a(href="#").carousel-title__link Подход
        li.carousel-title__item
          a(href="#").carousel-title__link Надежность
        li.carousel-title__item
          a(href="#").carousel-title__link Практика
        li.carousel-title__item
          a(href="#").carousel-title__link Ответственность
        li.carousel-title__item
          a(href="#").carousel-title__link Опыт
        li.carousel-title__item
          a(href="#").carousel-title__link Охват
  .work__container
    h2.work__title.visually-hidden Как работает компания 
    .work__edge.edge
      .edge__icon 
      p.edge__text Внешнее проявление бренда должно быть уникальным, идентифицирующим и узнаваемым, как отпечаток пальцев

    ul.work__list 
      li.work__item 
        span.line.line_6
        h3.work__sub-title Опыт
        p.work__text Предоставляем клиентам услуги #[br] с 2005 года
      li.work__item 
        span.line.line_7
        h3.work__sub-title Охват
        p.work__text Понимаем целостность образа компании во всех проявлениях
      li.work__item 
        span.line.line_8
        h3.work__sub-title Подход
        p.work__text Комплексно прорабатываем все элементы образа компании
      li.work__item 
        span.line.line_9
        h3.work__sub-title Надежность
        p.work__text Готовы работать в рамках сроков, установленных клиентом
      li.work__item 
        span.line.line_10
        h3.work__sub-title Практика
        p.work__text Имеем успешные кейсы по всем направлениям деятельности
      li.work__item
        span.line.line_11
        h3.work__sub-title Ответственность
        p.work__text У нас два юридических лица — на ОСНО и УСНО: работая с нами по ОСНО, вы сможете возмещать НДС даже с услуг
    .work__footer
      .tip
        .tip__icon !
        p.tip__text Даём бесплатные рекомендации по актуализации образа компании

      button(type="button").button.work__button Узнать подробнее 